<style>
h1 {
    font-size: 12.5rem;
    font-family: 'Bebas Neue', cursive;
    color: #777;
    text-align: center;


}
p {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: #777;
    text-align: center;
}
body {
    background-color: black;
}
.my-face {
    border-radius: 100%;
    vertical-align: middle;

}
</style>