h1{
    font-size: 14rem;
    font-family: 'Bebas Neue', cursive;
    color: #777;
    text-align: center;
    width: 70%;
    margin: 1px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
    padding-top: 12%;
}
h2 {
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
    color: #777;
    text-align: center;
    border: 1px solid green;
}
p {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    color: #777;
    text-align: center;
    border: 1px solid green;
}
body {
    background-color: black;
}
.my-face {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 1px solid green;
}
.gif1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;    
    border: 1px solid green;
}
.link1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;    
    border: 1px solid green;
}